.actions{
  margin: 15px 0;
}

#error_explanation {
  color: red;
  h2 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  li {
    font-size: 12px;
  }
}

.card {
  &--medium{
    width: 600px;
  }
}