.header {
  &__user-lists {
    margin-right: 30px;
    i.material-icons {
      display: block;
      height: 64px;
      line-height: 64px;
    }
  }

  &__user-containar {
    margin-right: 30px;
  }

  &__btn {
    margin-right: 30px;
  }
}
