.posts {
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.post {
  .avatar {
    @include post_header_icon();
  }
  &__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - #{$post_header_height} - 14px);
    padding-left: 4px;
  }
  &--textarea {
    min-height: 300px;
    padding: 10px;
  }
  &__title {
    height: $post_header_height;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;  
    p {
      width: 100%;
      text-align: center;
      color: white;
    }
    a {
      width: 100%;
      padding-right: 44px;
    }
  }
  &__btn {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    padding: 10px;
    height: 100px;
  }
  &__detail {
    min-height: 500px;

    &--title {
      font-size: 40px;
    }
    &--date {
      text-align: right;
    }
    &--text {
      padding: 10px;
      font-size: 20px;
    }
  }
  &__user {
    &--title {
      width: 100%;
      height: $modal_title_height;
      .avatar {
        @include modal_post_icon();
      }
    }
    &--username {
      text-align: center;
      width: 100%;
      line-height: $modal_title_height;
      color: #fff;
    }
  }
  &__date {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}