= will_paginate @posts, renderer: @custom_paginate_renderer
%article{class: "posts"}
  .row
    = render @posts
    = render partial: 'modal_user', collection: User.all
= will_paginate @posts, renderer: @custom_paginate_renderer