.container
  .card.post__detail
    .card-content.post__detail--content
      .post__detail--title=@post.title
      .post__detail--date=@post.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
      .divider
      .post__detail--text=raw(@post.text)
  = link_to "戻る", :back, class: 'btn-small'