::-webkit-scrollbar { 
    display: none; 
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.input-field {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.pagination {
  text-align: center;
  margin-bottom: 20px;
}

.default-btn {
  @extend .btn, .blue, .lighten-2, .waves-effect, .waves-light;
  color: #fff;
}

.post_text_box {
  margin-bottom: 10px;
}

@import "modules/header";
@import "modules/posts";
@import "modules/devise";
@import "modules/flash";
@import "modules/avatar";