::-webkit-scrollbar { 
    display: none; 
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.input-field {
  margin-top: 20px;
}

.hidden {
  display: none;
}

@import "modules/header";
@import "modules/posts";
@import "modules/footer";
@import "modules/devise";
@import "modules/flash";
@import "modules/avatar";